.header {
  margin-bottom: 50px;
  padding: 30px 30px;
  font-size: 45px;
  font-weight: 700;
  color: rgb(6, 210, 190);
}
@media only screen and (max-width: 700px) {
  .header {
    font-size: 35px;
  }
}
@media only screen and (max-width: 300px) {
  .header {
    font-size: 30px;
  }
}
