/* @media screen and (min-width: 280px) and (max-width: 500px) {
  .activities {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 13px;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .header {
    font-size: 25px;
    font-weight: 600;
    padding: 30px 15px;
  }
  .task {
    max-width: 340px;
    margin: 20px auto;
  }
}
@media screen and (min-width: 501px) and (max-width: 650px) {
  .activities {
    grid-template-columns: 1fr;
    padding: 15px;
    gap: 20px;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .header {
    font-size: 25px;
    font-weight: 700;
    padding: 30px 15px;
  }
  .task {
    max-width: 340px;
    margin: 20px auto;
  }
}
@media screen and (min-width: 651px) and (max-width: 768px) {
  .activities {
    grid-template-columns: 1fr;
    padding: 15px;
    gap: 25px;
  }
  .container {
    grid-template-columns: 1fr;
    padding: 50px;
  }
  .header {
    font-size: 35px;
    font-weight: 700;
    padding: 30px 20px;
  }
  .task {
    max-width: 340px;
    margin: 20px auto;
  }
}
@media screen and (min-width: 769px) and (max-width: 870px) {
  .activities {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    gap: 25px;
  }
  .container {
    grid-template-columns: 1fr;
   
  }
  .header {
    padding: 30px 30px;
    font-size: 45px;
    font-weight: 700;
  }
}
@media screen and (min-width: 871px) and (max-width: 1080px) {
  .activities {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    gap: 25px;
  }
  .container {
    grid-template-columns: 4fr 1fr;

   
  }
  .header {
    padding: 30px 30px;
    font-size: 45px;
    font-weight: 700;
  }
  .summery {
    padding: 18px;
  }
}
@media screen and (min-width: 1081px) {
  .activities {
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    gap: 25px;
  }
  .container {
    grid-template-columns: 4fr 1fr;
    gap: 15px;
   
  }
  .header {
    padding: 30px 30px;
    font-size: 45px;
    font-weight: 700;
  }
  .summery {
    padding: 0px;
  }
} */
